$margin: (100% / 18);

@mixin grid-classes-for-breakpoint-and-columns($breakpoint, $columns) {
    $column-width: ((100% - ($margin * 2)) / $columns);

    // Generate placeholder class for gutters.
    %gutters-#{ $breakpoint } {
        $gutter: 1.5em;

        box-sizing: border-box;
        padding: {
            left: ($gutter / 2);
            right: ($gutter / 2);
        }
    }

    // Generate placeholder classes for each column span width.
    @for $i from 1 through $columns {
        %width-#{ $breakpoint }-#{ $i } {
            width: ($column-width * $i);
        }
    }

    // Extend placeholder classes for gutters and each column span width.
    @for $i from 1 through $columns {
        .g-#{ $breakpoint }-#{ $i } {
            @extend %width-#{ $breakpoint }-1;
            @extend %gutters-#{ $breakpoint };
        }

        @if $i < $columns {
            @for $end from ($i + 1) through $columns {
                .g-#{ $breakpoint }-#{ $i }-#{ $end } {
                    @extend %width-#{ $breakpoint }-#{ ($end - $i + 1) };
                    @extend %gutters-#{ $breakpoint };
                }
            }
        }
    }

    // Generate and extend placeholder class for columns floated left.
    %float-left-#{ $breakpoint } {
        float: left;
        margin-right: -100%;
    }

    @for $i from 1 to $columns {
        .g-#{ $breakpoint }-#{ $i } {
            @extend %float-left-#{ $breakpoint };
        }

        @for $a from ($i + 1) to $columns {
            .g-#{ $breakpoint }-#{ $i }-#{ $a } {
                @extend %float-left-#{ $breakpoint };
            }
        }
    }

    // Generate and extend placeholder class for columns floated right.
    %float-right-#{ $breakpoint } {
        float: right;
        margin-right: $margin;
    }

    .g-#{ $breakpoint }-#{ $columns } {
        @extend %float-right-#{ $breakpoint };
    }

    @for $i from 2 to $columns {
        .g-#{ $breakpoint }-#{ $i }-#{ $columns } {
            @extend %float-right-#{ $breakpoint };
        }
    }

    // Generate and extend placeholder class for columns with left margins.
    @for $i from 1 to $columns {
        %left-margin-#{ $breakpoint }-#{ $i } {
            margin-left: ($margin + ($column-width * ($i - 1)));
        }

        .g-#{ $breakpoint }-#{ $i } {
            @extend %left-margin-#{ $breakpoint }-#{ $i };
        }

        @for $a from ($i + 1) to $columns {
            .g-#{ $breakpoint }-#{ $i }-#{ $a } {
                @extend %left-margin-#{ $breakpoint }-#{ $i };
            }
        }
    }

    .g-#{ $breakpoint }-1-#{ $columns } {
        @extend %float-left-#{ $breakpoint };
        @extend %left-margin-#{ $breakpoint }-1;
    }
}

@include grid-classes-for-breakpoint-and-columns("s", 4);

@media (min-width: 720px) {
    @include grid-classes-for-breakpoint-and-columns("m", 8);
}

@media (min-width: 1872px) {
    @include grid-classes-for-breakpoint-and-columns("l", 16);
}
